/* Sticky navbar */
html, body {
    margin: 0;
    padding: 0;
  }
  
  /* Sticky navbar */
  #navbar {
    position: sticky;
    top: 0;
    background-color: #000;
    z-index: 1000;
    width: 100%;
    padding: 0;
  }
  
  /* Navbar styles */
  #navbar nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px; /* Reduced padding */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  #navbar nav ul li {
    margin-right: 10px; /* Reduced margin */
  }
  
  #navbar nav ul li.logo {
    margin-right: auto;
  }
  
  #navbar nav ul li.logo img {
    max-width: 150px; /* Adjust the size of the logo */
  }
  
  #navbar nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px; /* Reduced font size */
    padding: 5px; /* Added padding for better click area */
  }
  
  #navbar nav ul li a:hover {
    text-decoration: underline;
  }