
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Cloud Compass</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='home.css') }}"
    />
  </head>
  <body>
    <header id="navbar">
      <nav>
        <ul>
          <li class="logo"><img src="{{ url_for('static', filename='logo.png') }}" alt="Cloud Compass Logo"></li>
        </ul>
      </nav>
    </header>

    <main>
      <section class="welcome">
        <h1>Welcome to <span class="highlight">CLOUD COMPASS</span></h1>
        <p>Your ultimate destination for flight search and history tracking.</p>
        <div class="buttons">
          <a href="{{ url_for('login') }}" class="button login">
            <img src="{{ url_for('static', filename='user.png') }}" alt="Login Logo"> LOGIN
          </a>
          <a href="{{ url_for('register') }}" class="button register">
            <img src="{{ url_for('static', filename='register.png') }}" alt="Register Logo"> REGISTER
          </a>
        </div>
      </section>
    </main>
  </body>
</html>

