<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Cloud Compass</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='home.css') }}"
    />
  </head>
  <body>
    <header id="navbar">
      <nav>
        <ul>
          <li><a href="{{ url_for('login') }}">Login</a></li>
          <li><a href="{{ url_for('register') }}">Register</a></li>
          <li><a href="{{ url_for('search') }}">Search</a></li>
          <li><a href="/history-page">History</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section class="welcome">
        <h1>Welcome to Cloud Compass</h1>
        <p>Your ultimate destination for flight search and history tracking.</p>
      </section>
    </main>
  </body>
</html>
